.footer {
  background-color: #181a1b;
  color: #f8a244;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  left: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  border-right: 2px solid #f8a244;
}

.footer-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  transition: color 0.3s;
  cursor: pointer;
}

.footer-title:hover {
  color: #fff !important;
}

.footer-text {
  font-size: 14px;
  text-align: center;
}

.footer-social {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.bi-github,
.bi-linkedin,
.bi-cup-fill {
  font-size: 24px;
  transition: color 0.3s;
  color: #f8a244;
  cursor: pointer;
}

.bi-cup-straw {
  font-size: 32px !important;
  margin-left: 3px !important;
}

.bi-linkedin,
.bi-cup-fill,
.bi-cup-straw {
  margin-left: 10px;
  cursor: pointer;
}

.bi-github:hover,
.bi-linkedin:hover,
.bi-cup-straw:hover {
  color: #fff !important;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    position: relative;
    margin: 20px 0;
    border-top: 2px solid #f8a244;
    padding-top: 15px;
  }

  .footer-content {
    padding: 0 15px;
    border-right: none;
  }

  .footer-social {
    justify-content: center;
    padding-left: 0;
  }
}

/* modal */

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.coffee-modal {
  background: linear-gradient(135deg, #f39c12, #f1f1f1);
  border-radius: 15px;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  color: #333;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title-coffe {
  font-size: 24px;
  font-weight: bold;
  animation: blinkText 1.5s infinite;
}

@keyframes blinkText {
  0% {
    color: #333;
  }
  50% {
    color: #f39c12;
  }
  100% {
    color: #333;
  }
}

.coffee-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.modal-coffee-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  animation: rotateIcon 3s linear infinite;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-message {
  font-size: 16.5px;
  margin: 10px;
  line-height: 1.4;
  color: #333 !important;
  text-align: center;
}

.close-button {
  padding: 0 12px;
  margin: 0 12px;
  border: none;
  background: #4a5568;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.close-button:hover {
  background: #2d3748;
  transform: scale(1.1);
}

/* qrcode */

.qr-code-image {
  width: 150px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #333;
}

.aviso {
  border-bottom: 2px solid #333;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: solid 1px #ffcc07 !important;
}
