h1,
p {
  color: #ffff !important;
}

.home {
  margin-left: 20%;
  margin-top: 25px;
}

.home span {
  letter-spacing: 1px;
}

.title span {
  color: #f8a244;
}

.additional-section {

  border-top: 1px solid #f8a244;
  width: 600px;
}

.additional-section h2 {
  color: #fff;
  padding-top: 2rem;
}

@media (max-width: 768px) {
  .home {
    margin-left: 5%;
  }
  br {
    display: none;
  }
  .additional-section {
    margin-top: 1rem;
    width: 100%;
  }
  .additional-section h2,
  p {
    padding-top: 2rem;
  }
}
