h1,
p {
  color: #ffff !important;
}

.home {
  margin-left: 10%;
  margin-top: 25px;
}

.home span {
  font-family: 'Brush Script MT', cursive;
  letter-spacing: 1px;
}

.canvas-container {
  width: 100%;
  height: 900px; /* Você pode ajustar este valor conforme necessário */
  position: relative;
  overflow: hidden;
  margin-top: -16rem;
  margin-left: -12rem;

}

canvas {
  display: block;
}
