h1,
p {
  color: #ffff !important;
}

.home {
  margin: 30px;
  text-align: center;
  font-family: Roboto Condensed, sans-serif;
}

.home span {
  font-family: 'Brush Script MT', cursive;
  letter-spacing: 1px;
}
