/* Animação do fundo */
.login-container {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 150, 1) 0%,
    rgba(0, 204, 255, 1) 100%
  );
  background-size: 200% 100%;
  animation: Gradient 3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@keyframes Gradient {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.login {
  color: #000 !important;
}
.signup-text {
  color: #f39c12 !important;
  margin: 1rem 0;
}

.signup-link {
  text-decoration: none;
  position: relative;
}

.signup-link .cadastro::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f39c12;
  bottom: 0;
  left: 0;
}

.signup-icon {
  color: #000;
  font-weight: bold !important;
}

.cadastro {
  margin: 10px;
  color: #000 !important;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 16px;
  width: 500px;
  text-align: center;
  transition: 0.3s;
}

/* Estilização dos campos de input */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.input-group:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.paragraph {
  margin-top: 15px;
  color: #ccc !important;
}

input {
  flex: 1;
  padding: 15px;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

input:focus + .input-group::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Estilização do botão */
button {
  padding: 15px 25px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

.input-group-icon {
  font-size: 24px;
  margin-right: 10px;
  align-self: center;
}

.input-group input {
  flex: 1;
  padding: 15px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.validation-message {
  display: inline-block;
  font-size: 16px;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
}
