.sidebar {
  background-color: transparent;
}

.sidebar h3 {
  color: #fff;
}

.sidebar .list-group-item {
  background-color: transparent;
  border-bottom: solid 1px #f8a244;
  border-top: none;
  border-left: none;
  border-right: none;

}

.sidebar .list-group-item:hover {
  background-color: #111111;
  color: #fff;
  cursor: pointer;
}

.sidebar .list-group-item a {
  color: #fff;
}

.sidebar .list-group-item a:hover {
  text-decoration: underline;
}
