.navigation-buttons {
  display: flex;
  justify-content: start;
}

.button-p,
.button-step {
  padding: 10px;
  margin: 0 8px;
  border: none;
  background: #4a5568;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 2rem; /* Margem inferior para separar os botões da barra de progresso */
}

.button-p:hover,
.button-step:hover {
  background: #2d3748;
}

/* Progresso bar */

.progress-container {
  flex-grow: 1;
  height: 40px;
  border-radius: 20px;
  background-color: #e6e6e6;
  position: relative;
  overflow: hidden;
}

.progress-road {
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(90deg, #a6a6a6 0%, #898989 100%);
  position: relative;
  overflow: hidden;
}

.progress-bar {
  height: 40%;
  background: #36d1dc;
  width: 100%;
  position: absolute;
  top: 30%;
}

.progress-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><pattern id="wave" patternUnits="userSpaceOnUse" width="40" height="20" patternTransform="rotate(0)"><path d="M0 10 L20 10" stroke="%23ffffff" stroke-width="2" /></pattern><rect width="100%" height="100%" fill="url(%23wave)" /></svg>');
  animation: slide 0.5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

.car {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 65px;
}

.car-percentage {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Confete chegada */
.confetti {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: red;
  opacity: 0; /* Inicialmente invisível */
  animation: drop 1s linear infinite;
}

@keyframes drop {
  0% {
    top: -10px;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.confetti.show {
  opacity: 1;
}
